body{
  font-family: 'Noto Sans JP', sans-serif;
  max-width: 60%;
  margin: 50px auto;
}
h3{
  color:cadetblue;
}
img{
  max-width: 400px;
  max-height: 600px;
}
#header{
  max-width: 70%;
  max-height: fit-content;
}
.hidden{
  display: none;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.float-right{
  float:right;
}
.info{
  max-width: 50%;
  margin-right: 20px;
}
a{
  color: blue;
}
.links{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.margin-left{
  margin-left: 50px;
}

#rm-directions{
  margin-bottom: 50px;
}
@media screen and (max-width:800px){
  .info{
    max-width: 100%;
  }
}